<div class="container">
    <div class="vote-modal modal-box">
        <h1 class="subtitle has-text-primary">
            Cast Your Vote
        </h1>
        <!-- Placeholder for now, will show selected story in future-->
        <div class="column is-fluid vote-text is-primary">
         <p>As superheros, we need to rescue the world</p>
        </div>
        <br>
        <div class="vote-buttons">
            <button class="button vote-button"> 1 </button>
            <button class="button vote-button"> 3 </button>
            <button class="button vote-button"> 5 </button>
            <button class="button vote-button"> 7 </button>
        </div>
        <input class="button is-success is-small is-rounded is-pulled-right" type="submit" value="Submit">
    </div>
</div>
