<div class="container columns is-multiline is-mobile">
    <!-- Story Container -->
    <div class="story-container column is-three-quarter">
        <div class="story-box white-box">
            <h1 class="subtitle has-text-primary">
                Stories
            </h1>

            <!-- Story Cards -->
            <div class="story-cards-container">

                <!-- All Story Cards -->
                <div class="story-card columns is-mobile">
                    <div class="column is-four-fifths story-text-column">
                        <div class="story-text">
                            <p>As superheros, we need to rescue the world</p>
                        </div>
                        <!-- Real time current votes -->
                        <div class="current-votes">
                            <div class="participant-color-identifier" style="background-color: #eaa3f8;">1</div>
                            <div class="participant-color-identifier" style="background-color: #aeff85;">3</div>
                            <div class="participant-color-identifier" style="background-color: #85c4ff;">7</div>
                        </div>
                    </div>
                    <!-- Vote and Reveal buttons -->
                    <div class=" column is-one-fifth buttons card-buttons">
                        <button class="button is-info is-rounded is-normal vote">Vote</button>
                        <button class="button is-warning is-rounded is-normal reveal">Reveal</button>
                    </div>

                    <!-- Revealed Average -->
                    <div class="revealed-average"></div>
                </div>

                <div class="story-card columns is-mobile">
                    <div class="column is-four-fifths story-text-column">
                        <div class="story-text">
                            <p>As superheros, we need to decide on a color scheme</p>
                        </div>
                        <!-- Real time current votes -->
                        <div class="current-votes">
                            <div class="participant-color-identifier" style="background-color: #eaa3f8;">1</div>
                            <div class="participant-color-identifier" style="background-color: #aeff85;">3</div>
                            <div class="participant-color-identifier" style="background-color: #85c4ff;">7</div>
                        </div>
                    </div>
                    <!-- Vote and Reveal buttons -->
                    <div class=" column is-one-fifth buttons card-buttons">
                        <button class="button is-info is-rounded is-normal vote">Vote</button>
                        <button class="button is-warning is-rounded is-normal reveal">Reveal</button>
                    </div>

                    <!-- Revealed Average -->
                    <div class="revealed-average"></div>
                </div>

                <div class="story-card columns is-mobile">
                    <div class="column is-four-fifths story-text-column">
                        <div class="story-text">
                            <p>As superheros, we need to eliminate our capes</p>
                        </div>
                        <!-- Real time current votes -->
                        <div class="current-votes">
                            <div class="participant-color-identifier" style="background-color: #eaa3f8;">1</div>
                            <div class="participant-color-identifier" style="background-color: #aeff85;">3</div>
                            <div class="participant-color-identifier" style="background-color: #85c4ff;">7</div>
                        </div>
                    </div>
                    <!-- Vote and Reveal buttons -->
                    <div class=" column is-one-fifth buttons card-buttons">
                        <button class="button is-info is-rounded is-normal vote">Vote</button>
                        <button class="button is-warning is-rounded is-normal reveal">Reveal</button>
                    </div>

                    <!-- Revealed Average -->
                    <div class="revealed-average"></div>
                </div>

                <div class="story-card columns is-mobile">
                    <div class="column is-four-fifths story-text-column">
                        <div class="story-text">
                            <p>As superheros, we need to figure out an unlimtied supply for donut</p>
                        </div>
                        <!-- Real time current votes -->
                        <div class="current-votes">
                            <div class="participant-color-identifier" style="background-color: #eaa3f8;">1</div>
                            <div class="participant-color-identifier" style="background-color: #aeff85;">3</div>
                            <div class="participant-color-identifier" style="background-color: #85c4ff;">7</div>
                        </div>
                    </div>
                    <!-- Vote and Reveal buttons -->
                    <div class=" column is-one-fifth buttons card-buttons">
                        <button class="button is-info is-rounded is-normal vote">Vote</button>
                        <button class="button is-warning is-rounded is-normal reveal">Reveal</button>
                    </div>

                    <!-- Revealed Average -->
                    <div class="revealed-average"></div>
                </div>
                
            </div>

            <div class="buttons add-story-section">
                <button class="button is-success is-rounded is-small add-new-story">
                    Add New Story
                </button>
            </div>

        </div>

    </div>

    <!-- ------------------------------------------------------- -->

    <!-- Participant Container -->
    <div class="participant-container column is-one-quarter">
        <div class="participant-box white-box">
            <h1 class="subtitle has-text-primary">
                Participants
            </h1>

            <!-- Container to control the overflow of the participant boxes -->
            <div class="individual-participant-container">
                <!-- Participant boxes -->
                <div class="individual-participant-box">
                    <div class="participant-color-identifier" style="background-color: #aeff85;"></div>
                    <div class="participant-name">Batman</div>
                </div>

                <div class="individual-participant-box">
                    <div class="participant-color-identifier" style="background-color: #85c4ff;"></div>
                    <div class="participant-name">Iron Man</div>
                </div>

                <div class="individual-participant-box">
                    <div class="participant-color-identifier" style="background-color: #eaa3f8;"></div>
                    <div class="participant-name">Black Widow</div>
                </div>

                <div class="individual-participant-box">
                    <div class="participant-color-identifier" style="background-color: red;"></div>
                    <div class="participant-name">Spider-Man</div>
                </div>

                <div class="individual-participant-box">
                    <div class="participant-color-identifier" style="background-color: green;"></div>
                    <div class="participant-name">Green Lantern</div>
                </div>

                <div class="individual-participant-box">
                    <div class="participant-color-identifier" style="background-color: purple;"></div>
                    <div class="participant-name">Thor</div>
                </div>

                <div class="individual-participant-box">
                    <div class="participant-color-identifier" style="background-color: gold;"></div>
                    <div class="participant-name">Superman</div>
                </div>
            </div>
        </div>
    </div>

</div>
